<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Database connection string -->
    <add key="ConnectionString" value="Server=app.fit.ba,1433;Database=p1870_onlinekursevi;Trusted_Connection=False;MultipleActiveResultSets=true;User ID=p1870;Password=Mqkw62~6" />
    <!-- Google reCAPTCHA -->
  </appSettings>

</configuration>
