html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Open Sans",sans-serif !important;
  font-size: 14px !important;
  height: 100%; }

header {
    position: fixed;
    background: #fff;
    padding: 10px 25px;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    z-index: 22;
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    display: flex!important;
    justify-content: space-between;
}
    header .right_area {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    header .left_area {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
        header .left_area label {
           margin-right:18px;
           margin-bottom:0px;
        }
        header #username {
            color: #19B3D3;
        }
  header #check_circle {
    display: none; }
  header .show-check {
    display: inline !important;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px; }
  header .dropdown {
    color: #19B3D3;
    transition: 0.3s;
 }
    header .dropdown .show-check {
      display: inline !important;
      position: absolute;
      margin-top: 3px;
      margin-left: 3px; }
    header .dropdown ul > span {
        background: lightgray;
        padding: 11px 18px 9px 14px;
    }
    header .dropdown .dropdown-toggle::after {
      margin-left: -.255em; }
    header .dropdown .dropdown-menu {
      top: 4px !important;
      left: -135px !important;
      box-shadow: 10px 10px 10px 0px lightblue;
      padding-bottom: 0px;
      transition: 1s; }
      header .dropdown .dropdown-menu a {
        text-decoration: none;
        color: black;
        padding: 8px 43px 9px 44px; }
        header .dropdown .dropdown-menu a:hover {
          text-decoration: none; }
      header .dropdown .dropdown-menu li {
        text-align: center;
        padding: 5px;
        cursor: pointer; }
        header .dropdown .dropdown-menu li:first-of-type {
          margin-top: 5px; }
        header .dropdown .dropdown-menu li:hover {
          background: #19B3D3; }
        header .dropdown .dropdown-menu li:hover a {
          color: white; }

.content {
    margin-left: 235px;
    padding: 70px 30px 20px 30px;
    background: #f3f3f459;
    background-position: center;
    background-size: cover;
    min-height: calc(100% - 33px);
    transition: 0.5s;
}

.left_area h3 {
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}

.left_area span {
  color: #19B3D3; }

.logout {
    color: black;
    margin-left: 18px;
    text-decoration: none;
    font-size: 14.5px;
}
  .logout .btn {
    padding: 0px 3px 0px 3px;
    color: white;
    margin-left: 10px;
    background: #088ee4; }
    .logout .btn:hover {
      color: white;
      text-decoration: none;
      box-shadow: 0px 0px 3px 3px #19B3D3;
      transition: 0.5s; }

.sidebar {
    background: #fff;
    margin-top: 70px;
    position: fixed;
    left: 0;
    padding-top: 10px;
    width: 235px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow: scroll;
    box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
}

}
  .sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 15px; }
  .sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px; }
    .sidebar a {
        color: #000000a6;
        display: block;
        width: 100%;
        line-height: 22px;
        text-decoration: none;
        padding: 10px 15px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
      
    .sidebar i {
        padding-right: 10px;
        color:#000000a6;
    }

.footer {
  background: #e3e4e8;
  color: black;
  padding: 6px; }
  .footer span {
    margin-left: 53%; }

#check {
  display: none; }
  #check:checked ~ .sidebar {
    left: -190px; }
  #check:checked ~ .page-bar {
    left: 0px;
    margin-left: 0px; }
  #check:checked ~ .sidebar a span {
    display: none; }
  #check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 185px;
    width: 50px; }
  #check:checked ~ .content {
    margin-left: 45px; }

.modal button.close {
  margin-left: 0px; }

.modal .modal-title {
  margin: auto; }

.modal .modal-header {
  padding: 10px !important; }

.modal .modal-footer {
  padding: 6px !important; }

.modal #close_btn {
  padding: 4px;
  font-size: 12px; }

.page-bar {
  background: white;
  position: relative;
  top: 0px;
  left: -30px;
  margin: 0px -60px 20px 1px;
  padding: 2px 20px 2px 20px;
  border-bottom: 1px solid #dee2e6; }
  .page-bar .page-breadcrumb {
    margin-top: 12px;
    margin-bottom: 12px; }
    .page-bar .page-breadcrumb > li {
      display: inline; }
    .page-bar .page-breadcrumb > li > a {
      color: #686b71;
      text-decoration: none;
      cursor: pointer; }
        .page-bar .page-breadcrumb > li > a:hover {
            color: #19B3D3;
        }
        .page-bar .page-breadcrumb > li > span {
            color: #686b71;
        }

/**/
.sidebar::-webkit-scrollbar {
  width: 0px; }

::-webkit-scrollbar {
  width: 7px;
  color: #2f323a; }

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.selected {
    background: #19b3d380;
    color: white !important;
}
.sidebar a:hover {
    background: #19b3d380;
    text-decoration: none;
    color: #fff;
}
.page-title {
  margin-bottom: 27px;
  font-size: 24px;
  color: #666; }

#sidebar_btn {
    z-index: 1;
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
  #sidebar_btn:hover {
    color: #19B3D3; }

/**/
.no-padding{
    padding:0px !important;
}

.table-bordered td, .table-bordered th{
    text-align:center;
}