*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
.registration {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Open Sans;
}
.registration__form {
    border-radius: 5px;
    background-color: rgba(231,239,246,0.4);
    padding: 1.25rem 3.438rem;
    width: 25.125rem;
    box-shadow: 0px 17px 37px -6px rgba(173,203,227,0.58);
}
.registration__form--heading {
    color: #4b86b4;
    font-size: 1.5rem;
    margin-bottom: 9px;
}
.registration__form--group {
    margin: 8px 0;
    color: #4b86b4;
}
.registration__form--input {
    width: 100%;
    padding: 9px 20px;
    display: inline-block;
    border: 1px solid #adcbe3;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-validation-error{
    border: 1px solid red;
}
.registration__form--label {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.02px;
}
.registration__form--button {
    padding: 9px 25px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #63ace5;
    font-weight: 500;
    color: white;
    font-size: 17px;
}
.registration__form--error {
    color: #f37070;
    font-size: 13px;
}