@model DashboardVM
<div class="row">
    <div class="col-md-4 bg-white">
        @if (Model.Announcements != null)
        {
@await Html.PartialAsync("/Views/Announcement/_LastAnnouncements.cshtml", Model)}
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

