@model RoleEditVM
<div class="col-md-12">
    <form asp-controller="Admin" asp-action="EditRole" method="post">
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form-control" autocomplete="off" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" style="width:100%" class="btn btn-primary" value="Sačuvaj" id="submit">
        </div>
    </form>
</div>